PORT=3000
DEBUG=True
DB_HOST=
DB_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_PORT=5432
DB_INIT_SCRIPT_PATH=db/init.sql


ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

ACCESS_DAYS=
ACCESS_HOURS=
ACCESS_MINUTES=
ACCESS_SECONDS=

REFRESH_DAYS=
REFRESH_HOURS=
REFRESH_MINUTES=
REFRESH_SECONDS=


REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=123456