DEBUG=false

# Database

DB_NAME=
DB_PORT=5432

# sql intialization script path
DB_INIT_SCRIPT_PATH=db/init.sql


# token secrets for JWT

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# access token max time

ACCESS_DAYS=
ACCESS_HOURS=
ACCESS_MINUTES=
ACCESS_SECONDS=

# refresh token max time
REFRESH_DAYS=
REFRESH_HOURS=
REFRESH_MINUTES=
REFRESH_SECONDS=

# redis
REDIS_PORT=6379